<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spoon & Fork Catalogue</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!--Mobile-->
    <div class="mobmenu">
        <div class="menuicon" id="menu"><a href="#">&#9776;</a></div>
        <div class="moblogo"><img src="./images/Spoon&ForkLogo.png" alt="Logo Katalog"></div>
        <div class="moblogo">&nbsp;</div>
    </div>

    <nav id="drawer" class="mobnav">
        <ul class="listnavmob">
            <li class="itemsmobnav"><a href="">Home</a></li>
            <li class="itemsmobnav"><a href="#">Favorite</a></li>
            <li class="itemsmobnav"><a target="_blank" href="https://www.linkedin.com/in/dava-safgi-indraswara-186a5a231/">About Us</a></li>
        </ul>   
    </nav>
    <!--Desktop-->
    <nav class="nav">
        <a class="logo" href=""><img src="./images/Spoon&ForkLogo.png" alt="Logo Katalog"></a>
        <ul class="listnav">
            <li class="itemsnav"><a href="">Home</a></li>
            <li class="itemsnav"><a href="#">Favorite</a></li>
            <li class="itemsnav"><a target="_blank" href="https://www.linkedin.com/in/dava-safgi-indraswara-186a5a231/">About Us</a></li>
        </ul>
    </nav>
    <!--Jumbotron-->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="herotext">Spoon & Fork Catalogue</h1>
            <p class="herosubtext">Explore and find the best restaurant for you </p>
        </div>
    </div>
    <!--Content-->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!--Footer-->
    <footer>
        <img src="./images/Spoon&ForkLogo.png" alt="Logo Katalog">
        <p>2022 Copyright © Spoon & Fork Catalogue</p>
    </footer>
</body>
</html>
