<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#db0000" />
  <title>Spoon & Fork Catalogue</title>
  <meta name="description" content="Explore and Find The Best Restaurant For You">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to content ?</a>
  <header>
    <div class="container">
      <nav id="navbar">
        <a href="#" class="navbar-brand">Spoon & Fork Catalogue</a>
        <button id="menu-button" aria-label="navigation-menu"><i class="fas fa-bars"></i></button>
        <div class="nav">
          <a class="nav-link" href="#/home">Home</a>
          <a class="nav-link" href="#/favorite">Favorite</a>
          <a class="nav-link" href="https://www.linkedin.com/in/dava-safgi-indraswara-186a5a231/">About Us</a>
        </div>
      </nav>
      <nav id="sidebar">
        <div id="sidebar-menu" class="nav">
          <button id="close-button" aria-label="close-navigation-menu"><i class="fas fa-times"></i></button>
          <a class="nav-link" href="#/home">Home</a>
          <a class="nav-link" href="#/favorite">Favorite</a>
          <a class="nav-link" href="https://www.linkedin.com/in/dava-safgi-indraswara-186a5a231/">About Us</a>
        </div>
      </nav>
    </div>
  </header>
  <main id="main-content" tabindex="0">
  </main>
  <footer id="footer">
    2022 Copyright © Spoon & Fork Catalogue
  </footer>
</body>

</html>